src/main/mule/samplepoc2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a3b7a7c8-195b-42ee-bd03-8a11c0c11c03" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="samplepoc2Flow" doc:id="c5350714-663c-46d9-b33b-8e4c477a88ce" >
		<http:listener doc:name="Listener" doc:id="62dd463b-eac4-4239-b515-c8b4f2868368" config-ref="HTTP_Listener_config" path="/listen"/>
		<ee:transform doc:name="Transform Message" doc:id="3697ba37-0123-421b-befa-33a4fd2a1a5f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5bc10ef5-3e21-4943-b944-ae49c1d7e41b" message="#[payload]"/>
	</flow>
</mule>
